/node_modules
/public/hot
/public/storage
/public/js/plugins
/storage/*.key
/storage/framework
/storage/logs
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode/settings.json
.vscode/launch.json
.gitattributes
